<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Socialize</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg-4" style="color: white!important;">
              <h4>Store<small><em><span style="color: white;"> new!</span></em></small></h4>
              <div class="hline-w"></div>
              <ul>
                <li><a href="http://store.blueprintmap.org" style="color: #bfc9d3!important;">Map Prints </a></li>
                <li><a href="http://store.laurenancona.com/collections/pillows" style="color: #bfc9d3!important;">Pillows</a></li>
                <li><a href="http://store.blueprintmap.org" style="color: #bfc9d3!important;">Leggings</a></li>
              </ul>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->