<div id="headerwrap">
  <div id="map"></div>
    <div class="row">
      <div id="map-overlay-text" class="col-lg-8 col-lg-offset-2">        
        <!-- <h3></h3> -->
        <h1>It started with a map.</h1>
<!--         <h5></h5> -->
<!--         <h5></h5> -->
      </div>
      <div class="container">
      </div>
<!--      <div class="col-lg-8 col-lg-offset-2 himg">-->
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /headerwrap -->
 <script async>
  L.mapbox.accessToken = 'pk.eyJ1IjoibGF1cmVuYW5jb25hIiwiYSI6ImNpZjNjMWc4aTQxbmdzaWx1aWhkbWhyODkifQ.Imxo3o9OP7wGSgXY8BRvRQ';
  var map = L.mapbox.map('map', 'laurenancona.85d257d6')
    .setView([39.9288, -75.1656], 16);
    
  map.scrollWheelZoom.disable();
 </script>
